<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg px-3 py-2.5">
        <div class="container flex flex-wrap justify-between mx-auto">
            <a class="flex items-center" href="">
                <img class="h-13 mr-3" src="https://cdn2.iconfinder.com/data/icons/whcompare-isometric-web-hosting-servers/50/email-laptop-256.png" alt="">
                <span class="self-center text-2xl font-semibold">Chats App</span>
            </a>
            <ul class="flex flex-row p-3 mt-3 border rounded-lg bg-blue-50">
                <li>
                    <a class="block py-2 pl-3 pr-4 rounded bg-blue-700 text-white" href="">Rooms</a>
                </li>
                <li>
                    <a class="block py-2 pl-3 pr-4 rounded" href="">About</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>